* {
    margin: 0rem;
    padding: 0rem;
    font-family: sans-serif;
align-content: center;
box-sizing: border-box;
font-family: 'Lexend Deca', sans-serif;
}
.nav {
    width: 100%;
    height: 3rem;
    background-color: #FFEDDF;
    display: flex;
    align-items: center;
    align-content: center;
    
}
.nav > ul{
    list-style: none;
    display: inline-flex;
    margin: auto;
    width: 25%;
    padding: 10px;
    
   
    justify-content: space-between;
}
.datecert-logo {
    margin-left: 1rem;
    position: absolute;
}
#datecertbiglogo {
    animation: 8s linear 2s infinite running slide;
}

@keyframes slide{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}



.secondsectionred {
    background-color: #ED2A24;
    width: 100%;
    height: 45rem;
    padding-top: 7%;
    padding-left: 12%;
    align-content: center;
    margin-top: -25rem;
}
.brownoval {
align-content: center;
border-radius: 280px;
background: #9F633A;
padding: 20px; 
width: 60rem;
height: 35rem;
position: relative;
text-align: center;      
}
.welcomebutton {
    background-color: #6D9FD2;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    justify-content: center;
    margin-left: 15%;
    margin-top: 80px;
  }
.thirdsectionblack {
    background-color: #000000;
    width: 100%;
    height: 45rem;
    position: absolute;
}
#bluecir {
/* text centered in circles */
display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;
/* Circle details */
width: 480px;
height: 480px;
background: #6D9FD2;
border-radius: 50%
}
#browncir {
/* text centered in circles */
display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;
/* Circle details */
position: absolute;
bottom: 0;
right: 42%;
width: 370px;
height: 370px;
background: #9F633A;
border-radius: 50% 
}
#whitecir {
/* text centered in circles */
display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;
/* Circle details */
position: absolute;
top: 0;
right: 0;
width: 593px;
height: 593px;
background: #FFEDDF;
border-radius: 50%    
}
.fourthsectiongray {
margin-top: 45rem;
background-color: #8A8A8C;
width: 100%;
height: 38rem;
}
#howitworks {
margin-top: 4%;
margin: auto; 
width: 50%;
text-align: center;
}
.container-one {
width: 500px;
margin: 0 auto;
float: left;
margin-left: 3rem;
}
#circle-one {
width: 40px;
height: 40px;
background: #ED2A24;
border-radius: 50%
}
h5 {
width: 40px;
margin: auto;
text-align: center;
padding-top: 30%;
}
.container-two {
width: 500px;
margin: 0 auto;
float: right;
margin-right: 3rem;
margin-top: 13rem;
}
#circle-two {
width: 40px;
height: 40px;
background: #ED2A24;
border-radius: 50%
}
h5 {
width: 40px;
margin: auto;
text-align: center;
padding-top: 30%;
}
.container-three {
width: 500px;
margin: 0 auto; 
float: left;
margin-left: 3rem;
margin-top: 13rem;
}
#circle-three {
width: 40px;
height: 40px;
background: #ED2A24;
border-radius: 50%
}
h5 {
width: 40px;
margin: auto;
text-align: center;
padding-top: 30%;
}
.fifthsectionblack {
    background-color: #000000;
    width: 100%;
    height: 117rem;
    align-content: center;
    text-align: center;
}
.quiz-one {
    float: left;
    z-index: 2;
}
.quiz-two {
    width: 50%;
    margin-right: 700px;
    z-index: 4;
    position: relative;
    bottom: -470px; 
}
.quiz-three {
    margin-right: -40px;  
    position: relative;
    bottom: 462px;
}
#quiz-three-arrow {
    margin-right: -330px;  
    position: relative;
    bottom: 530px;
}
#quiz-three-two {
    margin-right: -360px;  
    position: relative;
    bottom: 530px;  
}
#quiz-three-arrow-two {
    margin-right: -340px;  
    position: relative;
    bottom: 610px; 
}
#quiz-three-three {
    margin-right: -360px;  
    position: relative;
    bottom: 660px;  
}
.quiz-four {
    float: right;
    z-index: 5;
    position: relative;
    bottom: 1100px;  
}
.sixthsectionblue {
background-color: #6D9FD2;
width: 100%;
height: 100rem;
align-content: center;
}

.gray-oval {
align-content: center;
border-radius: 280px;
background: #8A8A8C;
padding: 140px; 
width: 60rem;
margin: auto;
height: 25rem;
position: relative;
text-align: center;  

}
#resources-sixthsection {
text-align: center;
position: relative;
font-size: 750%;
color: #FFEDDF;
bottom: 335px;
}
.column-one-blue {
position: static;
width: 350px;
height: 700px;
margin-left: 3rem;
margin-top: -360px;
    }
    #column-one-button {
        width: 350px;
        height: 40px;
        background: #ED2A24;
        border-radius: 5%;
        text-align: center;
        padding-top: 10px;
        }
.column-two-blue {
    position: static;
    width: 350px;
    margin: auto;
    margin-top: -700px;
    }
    #column-two-button {
        width: 350px;
        height: 40px;
        background: #ED2A24;
        border-radius: 5%;
        text-align: center;
        padding-top: 10px;
        }
.column-three-blue {
        position: static;
        width: 350px;
        margin-right: 3rem;
        float: right;
        margin-top: -260px;
                }
        #column-three-button {
            width: 350px;
            height: 40px;
            background: #ED2A24;
            border-radius: 5%;
            text-align: center;
            padding-top: 10px;
            }
.seventhsectiongray {
   margin-top: 10rem;
    background-color: #8A8A8C;
    width: 100%;
    height: 65rem;
    }
    #the-datee {
    margin-top: 4%;
    margin: auto; 
    width: 50%;
    text-align: center;
    }   
    .seventhsectionbody {
        text-align: center;
       width: 50%;
        margin: auto;
    }
#red-arrow {
display: block;
margin: auto;
width: 80rem;
align-items: center;
margin-left: 48%;
}
#datee-quiz {
    width: 6rem;
    margin: auto;
    height: 40px;
    background: #ED2A24;
    border-radius: 5%;
    text-align: center;
    padding-top: 4px;   
}
.columns-seventh-section {
    column-count: 2;
    width: 90%;
    margin: auto;
}
.eigthsectionred {
    background-color: #ED2A24;
    width: 100%;
    height: 75rem;
    }
    .eighthheaders {
        margin-top: 4%;
    margin: auto; 
    width: 50%;
    text-align: center;
    }
    #blue-arrow-one {
        display: block;
        margin: auto;
        width: 80rem;
        align-items: center;
        margin-left: 48%; 
    }
    #datee-quiz-blue {
        width: 6rem;
        margin: auto;
        height: 40px;
        background: #6D9FD2;
        border-radius: 5%;
        text-align: center;
        padding-top: 9px;  
    }
.ninthsectionblack {
    background-color: #000000;
    width: 100%;
    height: 55rem;
    }
    #the-dating {
    margin-top: 4%;
    margin: auto; 
    width: 50%;
    text-align: center;
    color: #FFEDDF;
    }   
    .ninthsectionbody {
        text-align: center;
        width: 50%;
         margin: auto;
    } 
    #thedatingvideo {
        width: 100%;
        height: 100%;
    }
.ninthsectionblack-two {
    background-color: #000000;
    width: 100%;
    height: 55rem;
    }
#howtogoaboutdating {
    text-align: center;
    width: 50%;
     margin: auto; 
     padding-top: 70px;  
}
#ninthsectionp {
    text-align: center;
    width: 50%;
    margin: auto;
}
#ninthsectioncolumns {
   margin-top: -630px;
}
    .column-one-black {
    position: static;
    width: 350px;
    height: 700px;
    margin-left: 3rem;
    margin-top: -63px;
        }
        #column-one-hashtag {
            width: 350px;
            height: 40px;
            border-radius: 5%;
            text-align: center;
            padding-top: 10px;
            }
    .column-two-black {
        position: static;
        width: 350px;
        margin: auto;
        margin-top: -700px;
        }
        #column-two-hashtag {
            width: 350px;
            height: 40px;
            border-radius: 5%;
            text-align: center;
            padding-top: 10px;
            }
    .column-three-black {
            position: static;
            width: 350px;
            margin-right: 3rem;
            float: right;
            margin-top: -170px;
                    }
            #column-three-hashtag {
                width: 350px;
                height: 40px;
                border-radius: 5%;
                text-align: center;
                padding-top: 10px;
                }
                .column-four-black {
                    position: static;
                    width: 350px;
                    height: 150px;
                    margin-left: 3rem;
                   
                        }
                        #column-four-hashtag {
                            width: 350px;
                            height: 40px;
                            border-radius: 5%;
                            text-align: center;
                            padding-top: 10px;
                            }
                    .column-five-black {
                        position: static;
                        width: 350px;
                        margin: auto;
                        margin-top: -150px;
                        }
                        #column-five-hashtag {
                            width: 350px;
                            height: 40px;
                            border-radius: 5%;
                            text-align: center;
                            padding-top: 10px;
                            }
                    .column-six-black {
                            position: static;
                            width: 350px;
                            margin-right: 3rem;
                            float: right;
                            margin-top: -111px;
                                    }
                            #column-six-hashtag {
                                width: 350px;
                                height: 40px;
                                border-radius: 5%;
                                text-align: center;
                                padding-top: 10px;}
                                
.ninthsectionblack-three {
    background-color: #000000;
    width: 100%;
}
#ninthsectionblack-four {
    height: 60rem;
    background-color: #000000;
}
.container-one-nine {
    width: 500px;
    margin: auto;
    float: left;
    margin-left: 30%;
    padding-top: -10rem;
    }
    #circle-one-nine {
    width: 40px;
    height: 40px;
    background: #6D9FD2;
    border-radius: 50%
    }
    h5 {
    width: 40px;
    margin: auto;
    text-align: center;
    padding-top: 30%;
    }
    .container-two-nine {
    width: 500px;
    margin: 0 auto;
    float: right;
    margin-right: 24rem;
    margin-top: 3rem;
    }
    #circle-two-nine {
    width: 40px;
    height: 40px;
    background: #6D9FD2;
    border-radius: 50%
    }
    h5 {
    width: 40px;
    margin: auto;
    text-align: center;
    padding-top: 30%;
    }
    .container-three-nine {
    width: 500px;
    margin: 0 auto;
    float: left;
    margin-left: 30%;
    margin-top: 3rem;
    }
    #circle-three-nine {
    width: 40px;
    height: 40px;
    background: #6D9FD2;
    border-radius: 50%
    }
    h5 {
    width: 40px;
    margin: auto;
    text-align: center;
    padding-top: 30%;
    }
    .nav-bottom {
        width: 100%;
        height: 5rem;
        background-color: #8A8A8C;
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: -36rem;
    }
    .nav-bottom > ul{
        list-style: none;
        display: inline-flex;
        margin: auto;
        width: 25%;
        padding: 10px;
        justify-content: space-between;
    }
    .datecert-logo {
        margin-left: 1rem;
     
        position: absolute;
    }

#welcome-bg {
    z-index: 2;
}
#datecertbiglogo {
    position: relative;
    bottom: 600px;
    text-align: center;
}
#yay-bg {
    z-index: 2;
}
.brownoval-two {
    position: relative;
    bottom: 660px;
    text-align: center; 
    align-content: center;
border-radius: 280px;
background: #9F633A;
padding: 20px; 
width: 60rem;
height: 35rem;  
margin: auto;  
}
.welcomebutton-two {
    background-color: #6D9FD2;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    justify-content: center;
    margin-top: 80px;
}